.new-user-form div input {
    margin: 10px;
    background: #67999a;
}

.new-user-form div label {
    display: block;
    justify-self: left;
}

.new-user-form div {
    justify-content: space-evenly;
}

.multi-select {
    max-height: 550px;
    height: 650px;
    width: 350px;
    background: var(--bg-3)
}

.arrow {
    height: 50px;
    width: 60px;
}