.App {
  text-align: center;
  background-color: #eaeeef;

  --bg-2: #9acccd;
  --bg-1: #99CBCC;
  --bg-3: #67999a;
  --main-bg: #f0f0f0;
}



aside {
  flex: 1 0 10%;
  background: #f0f0f0;
}

.header {
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 0 0;
  background-color: #9acccd;
}

.internal-header {
  background-color: #f0f0f0;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 15px;
}

.new-header {
  background: var(--bg-1);
  position: absolute;
  height: 15vh;
  width: 100%;
  top: 0;
  left: 0;
}

.right-align {
  float: right;
  margin-right: 1.5vw;
  margin-left: auto;
  align-self: center;
}

.main-content {
  position: sticky;
  top: 150px;
  padding-top: 5vh;
  min-height: 75vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 13vh;
  max-height: 88vh;
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 10px;
  background: var(--main-bg);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.main-content::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.header-content img {
  margin-left: 1.5vw;
  margin-top: 2vh;
  border-radius: 5px;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}

.centered-text {
  text-align: center;
  margin: 3.5vh;
  margin-left: 1vh;
}

.header-content {
  position: relative;
  z-index: 2;
}