<h1>Welcome to LTCData!</h1>

<p>
  You have successfully been signed up for LTCData,
  your username is: <%= @user[0] %>.<br/>
  Your password is: <%= @user[1] %>.<br/>
  Please log into the site from this link: <a href="http://twentygx.com/login">LTCData</a>
</p>